In [1]:
import pandas as pd

https://www.youtube.com/watch?v=0V4Eygf6rus&ab_channel=PythonResolver

In [3]:
df = pd.read_csv()

In [4]:
df

      Unnamed: 0  uso_internet    sexo  edad               estudios
0              1             0   Mujer    66               Primaria
1              2             1  Hombre    72               Primaria
2              3             1  Hombre    48  Medios universitarios
3              4             0  Hombre    59             Superiores
4              5             1   Mujer    44             Superiores
...          ...           ...     ...   ...                    ...
2450        2471             1  Hombre    43               Primaria
2451        2472             1   Mujer    18             Secundaria
2452        2473             0   Mujer    54               Primaria
2453        2474             1  Hombre    31             Secundaria
2454        2475             0  Hombre    52               Primaria

[2455 rows x 5 columns]

In [5]:
df.

AttributeError: 'DataFrame' object has no attribute 'get_dummies'